.decor-cir{
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    background-color: #D3E2E2;
    position: absolute;
    top: 25vw;
    left: -18vw;
    z-index: -999;
}

#contacto{
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
}

#contacto .circle-margin{
    border-radius: 50%;
    width: 21vw;
    height: 21vw;
    background-color: #ffffff;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacto .circle{
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    background-color: #F26440;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacto .circle img{
    filter: none;
    height: 10vw;
    width: auto;
}

#contacto h2{
    padding-top: 10vw;
}

#contacto h3{
    padding: 0;
    padding-bottom: 0.2vw;
    text-align: center;
    color: #286F6C;
}

#contacto p{
    padding: 0;
    padding-top: 1vw;
    text-align: center;
}

#contacto .container{
    display: flex;
}

#contacto .email-cont p{
    font-size: 3vw;
    padding-top: 2vw;
}

#contacto .col-6{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .decor-cir{
        border-radius: 50%;
        width: 32vw;
        height: 32vw;
        top: 15vw;
        left: -10vw;
    }

    #contacto{
        padding-left: 20vw;
        padding-right: 20vw;
    }

    #contacto p{
        font-size: 20px;
    }
    #contacto .email-cont p{
        font-size: 20px;
        padding-top: 1vw;
    }

    #contacto .circle-margin{
        width: 11vw;
        height: 11vw;
        margin-bottom: 1vw;
    }
    
    #contacto .circle{
        width: 10vw;
        height: 10vw;
    }
    
    #contacto .circle img{
        filter: none;
        height: 5vw;
        width: auto;
    }

    #contacto h2{
        padding-bottom: 5rem;
    }


}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}