/* Navigation bar */

nav{
    text-align: right;
    padding: 1rem 2rem;
    background-color: #FEF2F2;
}

nav button{
    border: 0;
    background-color: transparent;
}

nav button:hover{
    cursor: pointer;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

nav li{
    padding: 0.35rem;
}

nav a{
    color: #46504F;
    font-weight: bold;
    font-size: 1.5rem;
}

#ul-nav > :first-child a{
    color: #286F6C;
}

nav a{
    text-decoration: none;
}

.hidden{
    display: none; 
}


/* Landing */

.landing{
    position: relative;
    z-index: 1;
    background-color: #FEF2F2;
}

.title{
    background-color:#FEF2F2;
    width: 100%;
    text-align: left;
    padding: 0 1rem 1rem;
}

h1{
    font-weight: 600;
    font-size: 12vw;
}

.personal-img img{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

.social-net-cont{
    position: absolute;
    bottom: 40vw;
    padding-left: 5vw;
}

.circle-margin{
    border-radius: 50%;
    width: 17vw;
    height: 17vw;
    background-color: #ffffff;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    background-color: #F26440;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle img{
    filter:  brightness(0) invert(1);
    height: 7.5vw;
    width: auto;
}



.big-circle{
    position: absolute;
    right: 5vw;
    bottom: 35vw;
    border-radius: 50%;
    width: 65vw;
    height: 65vw;
    background-color: #286F6C;
    z-index: -999;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* navigation bar */
    #ul-nav{
        display: block;
        text-align: right;
        padding: 1rem 1rem 1rem;
    }

    #ul-nav li{
        display: inline-block;
        margin-left: 0.5rem;
    }
    
    nav button{
        display: none;
    }
    nav a{
        color: #46504F;
        font-weight: 500;
        font-size: 1rem;
    }
    #ul-nav > :first-child a{
        font-weight: 600;
    }

    /* Landing */
    .landing{
        height: 45vh;
    }

    .title{
        background-color: transparent;
        width: 25vw;
        text-align: left;
        margin-left: 9vw;
        position: absolute;
        bottom: 20vw;
    }
    h1{
        font-size: 5.5vw;
        display: inline-block;
    }
    
    .personal-img img{
        width: 32vw;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .social-net-cont{
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 6vw;
        margin-left: 3.5vw;
        width: 30vw;
    }

    .circle-margin{
        width: 5.5vw;
        height: 5.5vw;
    }

    .circle{
        width: 5vw;
        height: 5vw;
    }

    .circle img{
        height: 3vw;
        width: auto;
    }
    .big-circle{
        width: 37vw;
        height: 37vw;
        bottom: 2vw;
        right: 9vw;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /* navigation bar */
    #ul-nav li{
        margin-left: 2rem;
    }

    nav a{
        font-size: 1.09rem;
    }
    #ul-nav{
        padding: 1rem 2rem 1rem;
    }

    /* Landing */
    .landing{
            height: 55vh;
    }
    
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* navigation bar */
    #ul-nav li{
        margin-left: 3rem;
    }
    
    nav a{
        font-size: 1.25rem;
    }

    /* Landing */
    .landing{
        height: 65vh;
    }

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* navigation bar */
    #ul-nav li{
        display: inline-block;
        margin-left: 5rem;
    }

    nav a{
        font-size: 1.35rem;
    }

    /* Landing */
    .landing{
        height: 90vh;
    }
}